body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --heading-h6: Roboto;

  /* font sizes */
  --text-regular-semi-bold-size: 16px;
  --text-medium-normal-size: 18px;
  --heading-h2-size: 48px;
  --heading-h6-size: 20px;

  /* Colors */
  --light-grey: #f4f4f4;
  --white: #fff;
  --kuno-red: #000;
  --color-gainsboro: #d9d9d9;
  --kuno-grey: #676767;

  /* Gaps */
  --gap-5xl: 24px;
  --gap-5xs: 8px;
  --gap-base: 16px;
  --gap-13xl: 32px;
  --gap-9xs: 4px;

  /* Paddings */
  --padding-93xl: 112px;
  --padding-45xl: 64px;
  --padding-base: 16px;
  --padding-xs: 12px;
  --padding-5xl: 24px;

  /* Border radiuses */
  --br-8xs: 5px;
}
